<html>
<head>
  <title>Library of Code Server API Docs</title>
  <script src="../cdn/jquery.min.js"></script>
  <link rel="stylesheet" href="../cdn/bootstrap.min.css">
  <link rel="stylesheet" href="../cdn/bootstrap-theme.min.css">
  <script src="../cdn/bootstrap.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4089980668648433",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" >Library of Code Server API Docs</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="./home">Home</a>
      </li>
      <li>
        <a href="./client">Client</a>
      </li>
      <li>
        <a href="./member">Member</a>
      </li>
      <li>
        <a href="./token">Token</a>
      </li>
      <li>
        <a href="https://discord.gg/F4ztpQh">Discord Server</a>
      </li>
      <li>
        <a href="https://github.com/LOCCouncil/SAS">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Welcome to the API Docs</h1>
      <p>Welcome to the Library of Code API Docs, please use the navigation bar to view individual docs. If you need further assistance, feel free to join the server.</p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    </div>
  </div>
</body>
</html>