<html>
<head>
  <title>Library of Code Server API Docs</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" >Library of Code Server API Docs</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="./home">Home</a>
      </li>
      <li>
        <a href="./client">Client</a>
      </li>
      <li class = "active">
        <a href="./member">Member</a>
      </li>
      <li>
        <a href="./token">Token</a>
      </li>
      <li>
        <a href="https://discord.gg/F4ztpQh">Discord Server</a>
      </li>
      <li>
        <a href="https://github.com/LOCCouncil/SAS">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
    <!--<div class="jumbotron"  style="padding:40px;">-->
      <h1>Welcome to the API Docs</h1>
      <p>Welcome to the Library of Code API Docs, please use the navigation bar to view individual docs. If you need further assistance, feel free to join the server.</p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    <!--</div>-->
    <div class="jumbotron" style ="padding:40px;">
    <h2>Server Member Data</h2>
    <h3><i>GET</i></h3>
    <p>http://sas.libraryofcode.ml:8895/member/USERID</p>
    <img src="https://cdn.discordapp.com/attachments/464982080976322560/518997332730052613/unknown.png" alt="Bot Application Data Example">
</div>
<div class="jumbotron" style ="padding:40px;">
    <h2>Change Member Nickname</h2>
    <h3><i>POST</i> <br><u>Requires Member Token</u></h3>
    <p>http://sas.libraryofcode.ml:8895/member/YOURUSERID</p>
    <img src="https://cdn.discordapp.com/attachments/464982080976322560/518997595918434316/unknown.png" alt="Bot Application Data Example">
</div>
  </div>
</body>
</html>